.form-dark .font-small {
  font-size: 1.8rem;
  background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg') 
 }

.form-dark .md-form label {
  color: #fff; }

.form-dark {
  color: #000; }

.form-dark .card{  
  background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}