%nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-dark
  .container
    #nav-content.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.nav-item
        %a.nav-link{:href => "#{home_index_path}"} Home
      / Dropdown 
      %li.nav-item.dropdown
        %a#navbardrop.nav-link.dropdown-toggle{"data-toggle" => "dropdown"}
          Test Activities
        .dropdown-menu
          %a.dropdown-item{:href => "#{test_activities_path}"} Activity's results
          %a.dropdown-item{:href => "#{new_test_activity_path}"} new activity test    
    